@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background: white;
    margin: 0;
    height: 100%;
    position: relative;
    overflow-x: hidden;

}

.header__menu{
    box-shadow: 1px 1px 5px black;
}


.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}
.container-fluid{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

}
.nav{
    border: 1px solid black;
    display: flex;
    justify-content: center;
}
.nav li {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none;
}
.nav a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 20px;
    margin: 0;
}
.nav-btn{

    height: 19px;
    left: 27.4%;
    right: 55.94%;
    top: calc(50% - 19px/2 - 15.5px);

    font-family: 'Open', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}
.nav-Logo{
    height: 26px;
    left: 47.19%;
    right: 47.19%;
    top: calc(50% - 26px/2 - 16px);

    font-family: 'Lora', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;

    color: #171717;
}
    .Map-Ukraine{
position: relative;
}
    .points{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
}
.points img{
 
    width: 50px;
    height: 50px;
}
.marker-1{
    position: absolute;
    left: 100px;
    top: 100px;
}

.Map{
    border: 1px solid black;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 1170px;
    height: 552px;
}
.Map-img {
    width: 870px;
    height: 552px;
}
.Map-info{
    margin: 5px;
    border: 1px solid black;
    width: 300px;
    height: 535px;
}
.Map-info-text{
    height: 52px;
    left: 10%;
    right: 10%;
    top: calc(50% - 52px/2 - 123px);

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;



    color: #171717;

    margin-top: 80px;
    margin-left: 30px;
}
.Map-info-text-zagl{
    margin-left: 10px;

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;


    letter-spacing: 1.5px;
    text-transform: uppercase;

    color: #171717;
}
.Main-text{


    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;



    color: #666666;
}

.butt {
    border: 3px solid black;
    font-size: 14px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    width: 228px;
    height: 49px;
    display: block;
    text-align: center;
    line-height: 50px;
    font-family: 'Mulish', sans-serif;
    position: relative;
    transition: .5s;
    overflow: hidden;
}
.butt::before,
.butt::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: black;
    top: 0;
    left: -100%;
    opacity: .5;
    transition: .3s;
    z-index: -1;
}
.butt::after {
    opacity: 1;
    transition-delay: .2s;
}
.butt:hover {
    color: white;
}
.butt:hover::before,
.butt:hover::after {
    left: 0;
}
.Blog{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid black;
    height: 1272px;
    width: 1170px;
}
.post{

    margin-top: 20px;
    border: 1px solid black;
padding: 0;
    width: 350px;
    height: 600px;
}
.post-text{
    margin-left: 20px;

}
.city-text{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
}
.dws{
    margin-top: 20px ;
}
.dws1{
    margin-top: 0;
    margin-left: 40px;

}
.city-text{
    margin-left: 10px;
    height: 250px;
    width: 300px;
}
.Ukraine{
    border: 1px solid black;
    margin-top: 20px;
    width: 1172.5px;
}
.post-text-subheading{
    margin-left: 10px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
}
.smallText{
    margin-left: 10px;
    left: 2.3%;
    right: 25.63%;
    top: 82.86%;
    bottom: 9.37%;

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
* {box-sizing:border-box}
.slideshow-container {
    width: 1170px;
    position: relative;
    margin: auto;
}
.mySlides1 {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.text {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.InstBtndiv{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.InstBtn{
    height: 20px;
    left: 44.76%;
    right: 44.91%;
    top: calc(50% - 20px/2 - 114.5px);

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    text-decoration: none;
    text-align: center;
    color: black;
}
.gallery{
    border: 1px solid black;
    margin-top: 20px;
    width: 100%;
    height: 254px;

}
.containerReg{

}
.registerCont{

}